/*
 * Copyright (c) 2014-2016, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

#include "tegra210-abca-pmic-01-00.dtsi"
#include "tegra210-abca-power-fixed-01-00.dtsi"
#include <t210-common-platforms/tegra210-ers-power-dvfs-e2174-1101-a00.dtsi>

/ {

	dfll-ovr@70110000 {
		status = "disabled";
	};

	dfll-max77621@70110000 {
		status = "disabled";
	};

	pwm_regulators {
		pwm-regulator@0 {
			status = "disabled";
		};

		pwm-regulator@1 {
			status = "disabled";
		};
	};

	i2c@7000d000 {
		max77621@1b {
			status = "okay";
		};

		max77621@1c {
			status = "okay";
		};
	};

	dvfs_rails {
		vdd-cpu-rail-ovr@0 {
			status = "disabled";
		};

		vdd-gpu-rail-ovr@1 {
			status = "disabled";
		};

		vdd-cpu-rail-max77621@2 {
			status = "okay";
		};

		vdd-gpu-rail-max77621@3 {
			status = "okay";
		};
	};

	cpuidle {
		vdd-cpu-supply = <&cpu_max77621_reg>;
		cc4-microvolt = <606250>;
	};

	dummy_cool_dev: dummy-cool-dev {
		compatible = "dummy-cooling-dev";
		#cooling-cells = <2>; /* min followed by max */
	};

	thermal-zones {
		PMIC-Die {
			polling-delay = <0>; /* milliseconds */
			polling-delay-passive = <0>; /* milliseconds */

			thermal-sensors = <&max77620>;
			trips {
				die_temp_thresh: hot-die {
					temperature = <120000>;
					type = "active";
					hysteresis = <0>;
				};
			};

			cooling-maps {
				map0 {
					trip = <&die_temp_thresh>;
					cooling-device = <&dummy_cool_dev THERMAL_NO_LIMIT
								THERMAL_NO_LIMIT>;
					contribution = <100>;
					cdev-type = "emergency-balanced";
				};
			};
		};
	};

	i2c@7000d000 {
		max77620@3c {
			regulators {
				sd0 {
					regulator-enable-ramp-delay = <146>;
					regulator-disable-ramp-delay = <4080>;
					regulator-ramp-delay = <27500>;
					regulator-ramp-delay-scale = <300>;
				};

				sd1 {
					regulator-enable-ramp-delay = <130>;
					regulator-disable-ramp-delay = <145800>;
					regulator-ramp-delay = <27500>;
					regulator-ramp-delay-scale = <300>;
				};

				sd2 {
					regulator-enable-ramp-delay = <176>;
					regulator-disable-ramp-delay = <32000>;
					regulator-ramp-delay = <27500>;
					regulator-ramp-delay-scale = <350>;
				};

				sd3 {
					regulator-enable-ramp-delay = <242>;
					regulator-disable-ramp-delay = <118000>;
					regulator-ramp-delay = <27500>;
					regulator-ramp-delay-scale = <360>;
				};

				ldo0 {
					regulator-enable-ramp-delay = <26>;
					regulator-disable-ramp-delay = <626>;
					regulator-ramp-delay = <100000>;
					regulator-ramp-delay-scale = <200>;
				};

				ldo1 {
					regulator-enable-ramp-delay = <22>;
					regulator-disable-ramp-delay = <630>;
					regulator-ramp-delay = <100000>;
					regulator-ramp-delay-scale = <200>;
				};

				ldo2 {
					regulator-enable-ramp-delay = <62>;
					regulator-disable-ramp-delay = <650>;
					regulator-ramp-delay = <100000>;
					regulator-ramp-delay-scale = <200>;
				};

				ldo3 {
					regulator-enable-ramp-delay = <50>;
					regulator-disable-ramp-delay = <1110>;
					regulator-ramp-delay = <100000>;
					regulator-ramp-delay-scale = <200>;
				};

				ldo4 {
					regulator-enable-ramp-delay = <22>;
					regulator-disable-ramp-delay = <610>;
					regulator-ramp-delay = <100000>;
					regulator-ramp-delay-scale = <200>;
					regulator-min-microvolt = <900000>;
					regulator-max-microvolt = <900000>;
				};

				ldo5 {
					regulator-enable-ramp-delay = <62>;
					regulator-disable-ramp-delay = <640>;
					regulator-ramp-delay = <100000>;
					regulator-ramp-delay-scale = <200>;
				};

				ldo6 {
					regulator-enable-ramp-delay = <36>;
					regulator-disable-ramp-delay = <674>;
					regulator-ramp-delay = <100000>;
					regulator-ramp-delay-scale = <200>;
				};

				ldo7 {
					regulator-enable-ramp-delay = <24>;
					regulator-disable-ramp-delay = <2768>;
					regulator-ramp-delay = <100000>;
					regulator-ramp-delay-scale = <200>;
				};

				ldo8 {
					regulator-enable-ramp-delay = <22>;
					regulator-disable-ramp-delay = <1160>;
					regulator-ramp-delay = <100000>;
					regulator-ramp-delay-scale = <200>;
				};
			};
		};
	};

	regulators {
		regulator@1 {
			regulator-enable-ramp-delay = <160>;
			regulator-disable-ramp-delay = <10000>;
		};

		regulator@2 {
			regulator-always-on;
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			regulator-enable-ramp-delay = <240>;
			regulator-disable-ramp-delay = <11340>;
		};

		regulator@4 {
			regulator-enable-ramp-delay = <472>;
			regulator-disable-ramp-delay = <4880>;
		};

		regulator@6 {
			regulator-enable-ramp-delay = <3090>;
		};

		regulator@7 {
			regulator-enable-ramp-delay = <468>;
			regulator-disable-ramp-delay = <13000>;
		};

		v_pavdd_5v0: regulator@12 {
			compatible = "regulator-fixed-sync";
			reg = <12>;
			regulator-name = "v_pavdd_5v0";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(I, 0) 0>;
			enable-active-high;
			regulator-enable-ramp-delay = <232>;
		};

		v_navdd_5v0: regulator@13 {
			compatible = "regulator-fixed-sync";
			reg = <13>;
			regulator-name = "v_navdd_5v0";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(I, 1) 0>;
			enable-active-high;
			regulator-enable-ramp-delay = <232>;
		};

		usb_vbus1: regulator@14 {
			compatible = "regulator-fixed-sync";
			reg = <14>;
			regulator-name = "usb-vbus1";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(CC, 4) 0>;
			enable-active-high;
			gpio-open-drain;
			vin-supply = <&vdd_3v3>;
		};

		usb_vbus3: regulator@15 {
			compatible = "regulator-fixed-sync";
			reg = <15>;
			regulator-name = "usb-vbus3";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(D, 4) 0>;
			enable-active-high;
			gpio-open-drain;
			vin-supply = <&vdd_3v3>;
		};

		v_vdd50: regulator@16 {
			compatible = "regulator-fixed-sync";
			reg = <16>;
			regulator-name = "v_vdd50";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
		};
	};
	i2c@7000c000 {
		icm20628@68 {
			vlogic-supply = <&max77620_sd3>;
			vdd-supply = <&max77620_sd3>;
		};

		ak8963c@0c {
			vid-supply = <&max77620_sd3>;
			vdd-supply = <&vdd_3v3>;
		};

		jsa1127@39 {
			vdd-supply = <&vdd_3v3>;
		};
	};

	i2c@546c0000 {
		bus-pullup-supply = <&battery_reg>;
	};

	efuse@7000f800 {
		vpp_fuse-supply = <&max77620_sd3>;
	};

	host1x {
		/* tegradc.0 */
		dc@54200000 {
			avdd_dsi_csi-supply = <&max77620_gpio7>;
			pavdd_lcd-supply = <&v_pavdd_5v0>;
			navdd_lcd-supply = <&v_navdd_5v0>;
			dvdd_lcd-supply = <&max77620_sd3>;
			vdd_lcd_bl_en-supply = <&lcd_bl_en>;
		};

		/* tegradc.1 */
		dc@54240000 {
			avdd_hdmi-supply = <&max77620_ldo8>;    /* 1V05 */
			avdd_hdmi_pll-supply = <&max77620_sd3>; /* 1V8 */
			vdd_hdmi_5v0-supply = <&vdd_hdmi>;	/* 5V0 GPIO_PCC7 fixed reg */
			/* dp */
			vdd-dp-pwr-supply = <&vdd_3v3>;
			avdd-dp-pll-supply = <&max77620_sd3>;
			vdd-edp-sec-mode-supply = <&vdd_sys_boost>;
			vdd-dp-pad-supply = <&max77620_ldo8>;
		};

		vi {
			avdd_dsi_csi-supply = <&max77620_gpio7>;
		};
	};

	sound {
		ldoen-supply = <&vdd_sys_boost>;
		spkvdd-supply = <&vdd_sys_boost>;
		dbvdd-supply = <&vdd_sys_boost>;
		avdd-supply = <&vdd_sys_boost>;
		dmicvdd-supply = <&max77620_sd3>;
	};

	pmc-iopower {
		vddio-sys-supply = <&max77620_sd3>;
		vddio-uart-supply = <&max77620_sd3>;
		vddio-audio-supply = <&max77620_sd3>;
		vddio-cam-supply = <&max77620_sd3>;
		vddio-pex-ctrl-supply = <&max77620_sd3>;
		vddio-sdmmc1-supply = <&max77620_ldo2>;
		vddio-sdmmc3-supply = <&max77620_sd3>;
		vddio-sdmmc4-supply = <&max77620_sd3>;
		vddio-audio-hv-supply = <&max77620_sd3>;
		vddio-debug-supply = <&max77620_sd3>;
		vddio-dbg-supply = <&max77620_sd3>;
		vddio-dmic-supply = <&max77620_sd3>;
		vddio-gpio-supply = <&max77620_sd3>;
		vddio-spi-supply = <&max77620_sd3>;
		vddio-spi-hv-supply = <&max77620_sd3>;
		vddio-sdmmc2-supply = <&max77620_sd3>;
		vddio-dp-supply = <&max77620_sd3>;
	};

	udc@7d000000 {
		avdd_usb-supply = <&vdd_3v3>;
		avdd_pll_utmip-supply = <&max77620_sd3>;
	};

	usb_cd@7009f000 {
	};

	ehci@7d000000 {
		avdd_usb-supply = <&vdd_3v3>;
		avdd_pll_utmip-supply = <&max77620_sd3>;
	};

	pinctrl@7009f000 {
		vbus-0-supply = <&battery_reg>;
		vbus-1-supply = <&battery_reg>;
		vbus-2-supply = <&battery_reg>;
		vbus-3-supply = <&battery_reg>;
		vddio-hsic-supply = <&max77620_ldo0>;
		avdd_pll_uerefe-supply = <&max77620_ldo7>;
		hvdd_pex_pll_e-supply = <&max77620_sd3>;
		dvdd_pex_pll-supply = <&max77620_ldo1>;
		hvddio_pex-supply = <&max77620_sd3>;
		dvddio_pex-supply = <&max77620_ldo1>;
		hvdd_sata-supply = <&max77620_sd3>;
		dvdd_sata_pll-supply = <&max77620_ldo8>;
		hvddio_sata-supply = <&max77620_sd3>;
		dvddio_sata-supply = <&max77620_ldo8>;
	};

	xudc@700d0000 {
                hvdd_usb-supply = <&vdd_3v3>;
                avdd_pll_utmip-supply = <&max77620_sd3>;
                avddio_usb-supply = <&max77620_ldo1>;
                avddio_pll_uerefe-supply = <&max77620_ldo7>;
        };

	xotg {
		usb_vbus-supply = <&v_vdd50>;
	};

	xusb_padctl {
		avdd_pll_uerefe-supply = <&max77620_ldo7>;
		hvdd_pex_pll_e-supply = <&max77620_sd3>;
		dvdd_pex_pll-supply = <&max77620_ldo1>;
		hvddio_pex-supply = <&max77620_sd3>;
		dvddio_pex-supply = <&max77620_ldo1>;
		hvdd_sata-supply = <&max77620_sd3>;
		dvdd_sata_pll-supply = <&max77620_ldo8>;
		hvddio_sata-supply = <&max77620_sd3>;
		dvddio_sata-supply = <&max77620_ldo8>;
	};

	otg@7d000000 {
		usb_vbus-supply = <&v_vdd50>;
	};

	sdhci@700b0600 {
		vqmmc-supply = <&max77620_sd3>;
		vmmc-supply = <&vdd_3v3>;
	};

	sdhci@700b0400 {
		vqmmc-supply = <&max77620_sd3>;
		vmmc-supply = <&vdd_3v3>;
	};

	sdhci@700b0200 {
		vqmmc-supply = <&max77620_sd3>;
		vmmc-supply = <&vdd_3v3>;
	};

	sdhci@700b0000 {
		vqmmc-supply = <&max77620_ldo2>;
		vmmc-supply = <&en_vdd_sd>;
	};

	sata@70020000 {
		hvdd_sata-supply = <&max77620_sd3>;
		hvdd_pex_pll_e-supply = <&max77620_sd3>;
		l0_hvddio_sata-supply = <&max77620_sd3>;
		l0_dvddio_sata-supply = <&max77620_ldo8>;
		dvdd_sata_pll-supply = <&max77620_ldo8>;
	};

	bluedroid_pm {
		avdd-supply = <&battery_reg>;
		dvdd-supply = <&max77620_sd3>;
	};

	pwm-fan {
		vdd-fan-supply = <&v_vdd50>;
	};
};
