/*
 * Copyright (c) 2019-2020, Billy Laws <blaws05@gmail.com>
 * Copyright (c) 2018-2023, CTCaer <ctcaer@gmail.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 */

#include <dt-bindings/gpio/tegra-gpio.h>

/ {
	regulators {
		compatible = "simple-bus";
		device_type = "fixed-regulators";
		#address-cells = <1>;
		#size-cells = <0>;

		battery_reg: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "vdd-ac-bat";
			regulator-min-microvolt = <4800000>;
			regulator-max-microvolt = <4800000>;
			regulator-always-on;
		};

		vdd_3v3: regulator@1 {
			compatible = "regulator-fixed-sync";
			reg = <1>;
			regulator-name = "vdd-3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
			gpio = <&max77620 3 0>;
			enable-active-high;
			regulator-enable-ramp-delay = <160>;
			regulator-disable-ramp-delay = <10000>;
		};

		max77620_gpio7: regulator@2 {
			compatible = "regulator-fixed-sync";
			reg = <2>;
			status = "disabled"; /* Only enabled on Odin */
			regulator-name = "max77620-gpio7";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			regulator-boot-on; /* Must be set for seamless display */
			gpio = <&max77620 7 0>;
			enable-active-high;
			regulator-enable-ramp-delay = <240>;
			regulator-disable-ramp-delay = <11340>;
			vin-supply = <&max77620_ldo0>;
		};

		lcd_bl_en: regulator@3 {
			compatible = "regulator-fixed-sync";
			reg = <3>;
			status = "okay"; /* Only enabled on Odin/Modin/Vali */
			regulator-name = "lcd-bl-en";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&gpio TEGRA_GPIO(V, 1) 0>;
			regulator-boot-on; /* Must be set for seamless display */
			enable-active-high;
		};

		en_vdd_sd: regulator@4 {
			compatible = "regulator-fixed-sync";
			reg = <4>;
			regulator-name = "en-vdd-sd";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio TEGRA_GPIO(E, 4) 0>;
			enable-active-high;
			regulator-enable-ramp-delay = <472>;
			regulator-disable-ramp-delay = <4880>;
			vin-supply = <&vdd_3v3>;
		};

		vdd_hdmi: regulator@5 {
			compatible = "regulator-fixed";
			reg = <5>;
			regulator-name = "vdd-hdmi";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
		};

		v_pavdd_5v0: regulator@7 {
			compatible = "regulator-fixed-sync";
			reg = <7>;
			status = "okay"; /* Only enabled on Odin/Modin/Vali */
			regulator-name = "v_pavdd_5v0";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&gpio TEGRA_GPIO(I, 0) 0>;
			enable-active-high;
			regulator-boot-on; /* Must be set for seamless display */
			regulator-enable-ramp-delay = <232>;
		};

		v_navdd_5v0: regulator@8 {
			compatible = "regulator-fixed-sync";
			reg = <8>;
			status = "okay"; /* Only enabled on Odin/Modin/Vali*/
			regulator-name = "v_navdd_5v0";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&gpio TEGRA_GPIO(I, 1) 0>;
			enable-active-high;
			regulator-boot-on; /* Must be set for seamless display */
			regulator-enable-ramp-delay = <232>;
		};

		/* Joycon/Fan power (battery) */
		v_vdd50_a: regulator@9 {
			compatible = "regulator-fixed-sync";
			reg = <9>;
			regulator-name = "v_vdd50_a";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(A, 5) 0>;
			enable-active-high;
		};

		/* Joycon/Fan power (usb) */
		v_vdd50_b: regulator@0xa {
			compatible = "regulator-fixed-sync";
			reg = <10>;
			status = "okay"; /* Only enabled on Odin/Modin */
			regulator-name = "v_vdd50_b";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(CC, 4) 0>;
			enable-active-high;
		};

		/* VBUS power */
		v_vdd5v3: regulator@0xb {
			compatible = "regulator-fixed-sync";
			reg = <11>;
			status = "okay"; /* Only enabled on Modin/Vali/Frig */
			regulator-name = "v_vdd5v3";
			regulator-min-microvolt = <5300000>;
			regulator-max-microvolt = <5300000>;
			gpio = <&gpio TEGRA_GPIO(X, 3) 0>;
			enable-active-high;
			regulator-enable-ramp-delay = <10000>;
		};

		vdd3v3_gc: regulator@0xc {
			compatible = "regulator-fixed-sync";
			status = "disabled"; /* Only on Odin */
			reg = <12>;
			regulator-name = "vdd3v3_gc";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio TEGRA_GPIO(E, 5) 0>;
			enable-active-high;
			regulator-enable-ramp-delay = <472>;
			regulator-disable-ramp-delay = <4880>;
			vin-supply = <&vdd_3v3>;
		};

#if 0
		vdd_wlreg_on: regulator@0xd {
			compatible = "regulator-fixed";
			reg = <13>;
			regulator-name = "vdd-wlreg_on";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&gpio TEGRA_GPIO(H, 1) 0>;
			regulator-boot-on;
			regulator-always-on;
			enable-active-high;
		};
#endif

		en_vdd_jcl_chgr: regulator@0xe {
			compatible = "regulator-fixed";
			reg = <14>;
			status = "okay";
			regulator-name = "left-joycon-charger";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(CC, 3) GPIO_ACTIVE_HIGH>;
			enable-active-high;
			vin-supply = <&v_vdd50_a>;
		};

		en_vdd_jcr_chgr: regulator@0xf {
			compatible = "regulator-fixed";
			reg = <15>;
			status = "okay";
			regulator-name = "right-joycon-charger";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(K, 3) GPIO_ACTIVE_HIGH>;
			enable-active-high;
			vin-supply = <&v_vdd50_a>;
		};
	};
};
