/*
 * Copyright (c) 2022-2023, CTCaer <ctcaer@gmail.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 */

#include "tegra210b01-nx-pmic.dtsi"
#include "tegra210-nx-power-fixed.dtsi"

/ {

	pwm_regulators {
		pwm-regulator@0 {
			status = "disabled";
		};

		pwm-regulator@1 {
			status = "disabled";
		};
	};

	i2c@7000d000 {
		max77620: max77620@3c {
			regulators {
				max77620_ldo8: ldo8 {
					regulator-name = "vdd-sio-mcu";
					regulator-max-microvolt = <2800000>;
					regulator-always-on;
					regulator-boot-on;
				};
			};
		};
	};

	i2c@7000c000 {
		bm92t: bm92t@18 {
			/delete-property/ rohm,dp-signal-toggle-on-resume;
			rohm,dp-disable;
			rohm,pd-5v-current-limit-ma = <2000>;
			rohm,pd-9v-current-limit-ma = <1500>;
			rohm,pd-12v-current-limit-ma = <1200>;
			rohm,pd-15v-current-limit-ma = <900>;
		};

		bq2419x: battery-charger@6b {
			battery_charger: charger {
				ti,charge-voltage-limit-millivolt = <4320>; /* Adjusted by cell age */
				ti,fast-charge-current-limit-milliamp = <1664>;
				ti,temp-range = <0 18 47 58>;
				ti,charge-thermal-voltage-limit = <4320 4320 4320 4080>; /* Adjusted by cell age */
				ti,charge-current-limit = <512 640 1664 1664>;
			};
		};

		battery-gauge@36 {
			maxim,over-volt = <4320>; /* Actual: 4370 mV */
			maxim,kernel-maximum-soc = <100>; /* Adjusted by cell age */
		};
	};

	regulators {
		/* Joycon/Fan power (usb) */
		v_vdd50_b: regulator@0xa {
			status = "disabled"; /* Only enabled on Odin/Modin */
		};

		en_vdd_jcl_chgr: regulator@0xe {
			status = "disabled"; /* Only enabled on Odin/Modin/Frig */
		};

		en_vdd_jcr_chgr: regulator@0xf {
			status = "disabled"; /* Only enabled on Odin/Modin/Frig */
		};
	};

	dummy_cool_dev: dummy-cool-dev {
		compatible = "dummy-cooling-dev";
		#cooling-cells = <2>; /* min followed by max */
	};

	i2c@546c0000 {
		bus-pullup-supply = <&battery_reg>;
	};

	efuse@7000f800 {
		vpp_fuse-supply = <&max77620_sd3>;
	};

	host1x {
		/* tegradc.0 */
		dc@54200000 {
			avdd_dsi_csi-supply = <&max77620_ldo0>;
			pavdd_lcd-supply = <&v_pavdd_5v0>;
			navdd_lcd-supply = <&v_navdd_5v0>;
			dvdd_lcd-supply = <&max77620_sd3>;
			vdd_lcd_bl_en-supply = <&lcd_bl_en>;
		};

		vi {
			avdd_dsi_csi-supply = <&max77620_ldo0>;
		};
	};

	sound_card: sound {
		spkvdd-supply = <&battery_reg>;
		dbvdd-supply = <&max77620_sd3>;
		avdd-supply = <&max77620_sd3>;
	};

	pmc-iopower {
		vddio-sys-supply = <&max77620_sd3>;
		vddio-uart-supply = <&max77620_sd3>;
		vddio-audio-supply = <&max77620_sd3>;
		vddio-cam-supply = <&max77620_sd3>;
		vddio-pex-ctrl-supply = <&max77620_sd3>;
		vddio-sdmmc1-supply = <&max77620_ldo2>;
		vddio-sdmmc3-supply = <&max77620_sd3>;
		vddio-sdmmc4-supply = <&max77620_sd3>;
		vddio-audio-hv-supply = <&max77620_sd3>;
		vddio-debug-supply = <&max77620_sd3>;
		vddio-dbg-supply = <&max77620_sd3>;
		vddio-dmic-supply = <&max77620_sd3>;
		vddio-gpio-supply = <&max77620_sd3>;
		vddio-spi-supply = <&max77620_sd3>;
		vddio-spi-hv-supply = <&max77620_sd3>;
		vddio-sdmmc2-supply = <&max77620_sd3>;
		vddio-dp-supply = <&max77620_sd3>;
	};

	usb_cd {
		usb_bat_chg-supply = <&battery_charger>;
		phys = <&{/xusb_padctl@7009f000/pads/usb2/lanes/usb2-0}>;
		phy-names = "otg-phy";
		nvidia,cdp-current-limit-ua = <1200000>;
		nvidia,dcp-current-limit-ua = <1200000>;
		status = "okay";
		#extcon-cells = <1>;
		extcon-cables = <&bm92t 2>;
		extcon-cable-names = "pd";
	};

	xusb@70090000 {
		hvdd_usb-supply = <&vdd_3v3>;
		avdd_pll_utmip-supply = <&max77620_sd3>;
		avddio_usb-supply = <&max77620_ldo1>;
		avddio_pll_uerefe-supply = <&max77620_sd3>;
	};

	xudc@700d0000 {
		hvdd_usb-supply = <&vdd_3v3>;
		avdd_pll_utmip-supply = <&max77620_sd3>;
		avddio_usb-supply = <&max77620_ldo1>;
	};

	xusb_padctl@7009f000 {
		avdd_pll_uerefe-supply = <&max77620_sd3>;
		hvdd_pex_pll_e-supply = <&max77620_sd3>;
		dvdd_pex_pll-supply = <&max77620_ldo1>;
		hvddio_pex-supply = <&max77620_sd3>;
		dvddio_pex-supply = <&max77620_ldo1>;

		ports {
			usb2-0 {
				vbus-supply = <&battery_reg>; /* Actual v_vdd5v3 */
			};
		};
	};

	sdhci@700b0600 {
		vqmmc-supply = <&max77620_sd3>;
		vmmc-supply = <&vdd_3v3>;
	};

	sdhci@700b0400 {
		vqmmc-supply = <&max77620_sd3>;
		vmmc-supply = <&vdd_3v3>;
	};

	sdhci@700b0200 {
		vqmmc-supply = <&max77620_sd3>;
		vmmc-supply = <&vdd_3v3>;
	};

	sdhci@700b0000 {
		vqmmc-supply = <&max77620_ldo2>;
		vmmc-supply = <&en_vdd_sd>;
	};

	bluedroid_pm {
		avdd-supply = <&battery_reg>;
		dvdd-supply = <&max77620_sd3>;
	};

	pwm-fan {
		vdd-fan-supply = <&v_vdd50_a>;
	};
};
