/*
 * arch/arm64/boot/dts/tegra210-abca-05-01.dts
 *
 * Copyright (c) 2014-2016, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 */

#include "tegra210-abca-common.dtsi"
#include "tegra210-abca-common-disp.dtsi"
#include "abca-platforms/tegra210-abca-power-tree-04-00.dtsi"
#include "abca-platforms/tegra210-abca-05-01-emc.dtsi"
#include "abca-platforms/tegra210-abca-sensor-04-00.dtsi"
#include "abca-platforms/tegra210-abca-powermon-05-00.dtsi"

/ {
	nvidia,dtsfilename = __FILE__;

	extcon {
		extcon@0 {
			status = "disabled";
		};
	};

	xudc@700d0000 {
		extcon-cables = <&bm92t 1>;
		extcon-cable-names = "vbus";
	};

	xusb@70090000 {
//		extcon-cables = <&bm92t 0>;
//		extcon-cable-names = "id";
	};

	spi@7000d400 {
		status = "okay";
		spi@0 {
			compatible = "spidev";
			reg = <0>;
			spi-max-frequency = <13000000>;
		};
	};
	spi@7000da00 {
		status = "okay";
		spi@0 {
			compatible = "spidev";
			reg = <0>;
			spi-max-frequency = <13000000>;
		};
	};

	i2c1: i2c@7000c000 {
		clock-frequency = <100000>;
	};

	i2c@7000c000 {
		rt5639: rt5639.0-001c@1c {
			sel_jd_source = <4>;
		};
		bm92t: bm92t@18 {
			compatible = "rohm,bm92t";
			reg = <0x18>;
			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(K, 4) 0x01>;
			#extcon-cells = <1>;
			pd_bat_chg-supply = <&battery_charger>;
		};
	};

	i2c@7000c500 {
		fts@49 {
			compatible = "st,stmfts";
			reg = <0x49>;
			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(X, 1) IRQ_TYPE_LEVEL_LOW>;
			interrupt-enable-reg = <0x2c 0x48>;
			avdd-supply = <&max77620_ldo6>;
			vdd-supply = <&vdd_touchscreen>;
			touchscreen-size-x = <1280>;
			touchscreen-size-y = <720>;
		};
	};

	/delete-node/ psy_extcon_xudc;
	/delete-node/ usb_cd@7009f000;

};
