/*
 * Copyright (c) 2019-2022, CTCaer <ctcaer@gmail.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 */

#include "nx-platforms/tegra210-odin-common.dtsi"
#include "nx-platforms/tegra210-nx-common-disp.dtsi"
#include "nx-platforms/tegra210-odin-power-tree.dtsi"
#include "nx-platforms/tegra210-odin-emc.dtsi"
#include "nx-platforms/tegra210-nx-sensor.dtsi"

/ {
	nvidia,dtsfilename = __FILE__;
	nvidia,dtbbuildtime = __DATE__, __TIME__;

	tlk {
		status = "disabled"; // FIXME: needs keys, where are they
	};

	cpus {
		idle-states {
			c7 {
				status = "disabled"; // FIXME: enabling causes crashes on cpu idle
			};
		};
	};

	r2p {
		compatible = "tegra-reboot2payload";
		status = "okay";
		default-payload = "reboot_payload.bin";
		// This can be either "bootloader" to boot payload, or "via-payload" to also apply hekate config.
		// Any other string will reboot normally.
		normal-reboot-action = "via-payload";
		hekate-config-id = "SWANDR";
	};
};
